.header {
    background-color: #07437D;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  
  nav li {
    margin: 0;
    padding: 0;
  }
  
  nav a {
    text-decoration: none;
    color: #FFDF75;
    font-weight: bold;
  }