<div class="contentMain">
  <div class="headerRanking">
    <div class="logo">
      <img src="assets/Bilder/home-1.png" alt="Logo">
    </div>
    <div class="text">
      <h3>Informationen</h3>
    </div>
    <div class="icon">
      <img src="assets/Bilder/info-24@3x.png" alt="Icon">
    </div>
  </div>
    <div class="image">
      <img src="assets/Bilder/logo@3x.png" alt="Bild" />
    </div>
  <div class="centered">
    <div>
    <table class="table">
      <tr>
        <th>Uhrzeit</th>
        <td>14 Uhr</td>
      </tr>
      <tr>
        <th>Datum</th>
        <td>10. September 2023</td>
      </tr>
      <tr>
        <th>Wo?</th>
        <td>Jesingen</td>
      </tr>
      <tr>
        <th>Zieleinlauf</th>
        <td>Direkt vor dem Rathaus auf der Lindach</td>
      </tr>
    </table>
  </div>

  <div>
    <ul class="main-list">
      <li class="list-item">
        <div class="left-content">
          <img src="assets/Bilder/google-place-optimization-1.png" alt="Bild 1">
        </div>
        <div class="right-content">
          <ul class="sub-list">
            <li><a href="https://www.praesent-kirchheim.de">Praesent Jesingen</a></li>
            <li>Vordere Straße 11</li>
            <li>73230 Kirchheim unter Teck</li>
          </ul>
        </div>
      </li>
      <li class="list-item">
        <div class="left-content">
          <img src="assets/Bilder/google-place-optimization-1.png" alt="Bild 1">
        </div>
        <div class="right-content">
          <ul class="sub-list">
            <li><a href="https://kisabi-shop.de/">Kisabi</a></li>
            <li>Heinkelstraße 15</li>
            <li>73230 Kirchheim unter Teck</li>
          </ul>
        </div>
      </li>
      <li class="list-item">
        <div class="left-content">
          <img src="assets/Bilder/google-place-optimization-1.png" alt="Bild 1">
        </div>
        <div class="right-content">
          <ul class="sub-list">
            <li><a href="https://www.krowo-schreinerei.de/">KroWo Schreinerei</a></li>
            <li>Jura str. 2</li>
            <li>73119 Zell unter Aichelberg</li>
          </ul>
        </div>
      </li>
      <li class="list-item">
        <div class="left-content">
          <img src="assets/Bilder/google-place-optimization-1.png" alt="Bild 1">
        </div>
        <div class="right-content">
          <ul class="sub-list">
            <li><a href="https://www.muehle-sting.de/">Mühle Sting</a></li>
            <li>Mühlstraße 6</li>
            <li>73230 Kirchheim unter Teck</li>
          </ul>
        </div>
      </li>
      <li class="list-item">
        <div class="left-content">
          <img src="assets/Bilder/google-place-optimization-1.png" alt="Bild 1">
        </div>
        <div class="right-content">
          <ul class="sub-list">
            <li><a href="https://www.moebel-koenig.de/">Möbel König</a></li>
            <li>Hegelstraße 9</li>
            <li>73230 Kirchheim unter Teck</li>
          </ul>
        </div>
      </li>
      <li class="list-item">
        <div class="left-content">
          <img src="assets/Bilder/google-place-optimization-1.png" alt="Bild 1">
        </div>
        <div class="right-content">
          <ul class="sub-list">
            <li><a href="https://www.rewe.de/marktseite/weilheim-an-der-teck/865771/rewe-markt-kirchheimer-str-84/">REWE Ingolf Kubicki</a></li>
            <li>Kirchheimer Str. 84</li>
            <li>73235 Weilheim an der Teck</li>
          </ul>
        </div>
      </li>
      <li class="list-item">
        <div class="left-content">
          <img src="assets/Bilder/google-place-optimization-1.png" alt="Bild 1">
        </div>
        <div class="right-content">
          <ul class="sub-list">
            <li><a href="https://www.babyundspiel-schad.de/">Baby- und Spielwarenhaus Schad</a></li>
            <li>Alleenstraße 4,</li>
            <li>73230 Kirchheim unter Teck</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  </div>
    
    
    
  </div>